<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Anterior Cruciate Ligament Injury</title>
  <link rel="shortcut icon" href="../static/images/favicon.png" type="text/css" href="">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">

        <br><br>
        <h1 class="header center white-text text-darken-3">Computer Aided Diagnostic System for ACL</h1>
        <div class="row center">

        </div>
        <div class="row center">
          <a href="analyze.html" id="download-button"  style=" color: black ; font-weight: bold" class="btn-large waves-effect waves-light grey ">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../static/images/acl1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lightning Fast Detection</h5>

            <p class="light">We have developed a Computer Aided Diagnostic System with an aim of easing the task of diagnosis of anterior cruciate ligament (ACL) injuries/tear.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">For Community</h5>

            <p class="light">Developed in an effort to help the communities and people all over the world. According to the latest reports, the number of ACL injuries has steadily increased in India. ACL injury is higher in people who participate in high-risk sports, such as basketball, football, skiing, and soccer or have been involved in accidents</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to make the process simpler. One can get started and use it in less then 3 clicks!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="../static/images/acl2.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Acl Injury</h4>
          <p class="left-align light">An ACL injury is a tear or sprain of the anterior cruciate (KROO-she-ate) ligament (ACL) — one of the major ligaments in your knee. ACL injuries most commonly occur during sports that involve sudden stops or changes in direction, jumping and landing — such as soccer, basketball, football and downhill skiing.
			Many people hear or feel a "pop" in the knee when an ACL injury occurs. Your knee may swell, feel unstable and become too painful to bear weight.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../static/images/r5.png" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal darken-3">
    <br><br><br>
  <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Developed by Zyik</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job to provide something back to the Community</p>


        </div>

        <div class="col l6 s12">
          <h5 class="white-text">Contact - Team Members</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/aayushk614/">Aayush Kumar - DL Model Development</a></li>
            <li><a class="white-text" href="https://in.linkedin.com/in/sanat-b-singh-b1161516b">Sanat B Singh - DL Model Development (with Backend + Hosting)</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/saumya-goyal/">Saumya Goyal - Front-end and Website Design</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with ❤ by Zyik</a><a href="../../templates/index.html" style="float: right; font-weight: bold"> Home Page</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>

  </body>
  <script type="text/javascript">
    window.onload = function(){ 
    alert("Thank you for visiting! This is a static website, since running of the actual servers 24/7 is not possible right now. If interested contact us at zyik@gmail.com ");
                }
    </script>
</html>
