<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>CAD System - Malaria Detection</title>
  <link rel="shortcut icon" href="static/images/favicon.png" type="text/css" href="">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">

        <br><br>
        <h1 class="header center teal-text text-darken-3">Computer Aided Diagnostic System for Malaria</h1>
        <div class="row center">

        </div>
        <div class="row center">
          <a href="/analyze" id="download-button" class="btn-large waves-effect waves-light teal darken-2">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/images/img1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lightning Fast Detection</h5>

            <p class="light">We have developed a lightweight Computer Aided Diagnostic System with an aim of easing the weary task of detection of Malaria infected cells by examination of blood smears under microscope.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">For Community</h5>

            <p class="light">Developed in an effort to help the communities and people all over the world. According to the latest World malaria report, released in November 2018, there were 219 million cases of malaria in 2017. The estimated number of malaria deaths stood at 435 000 in 2017.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to make the process simpler. One can get started and use it in less then 3 clicks!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/img2.JPG" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Malaria - An Infectious Disease</h4>
          <p class="left-align light">Malaria is a mosquito-borne life-threatening disease caused by five species of Plasmodium parasites (single-celled organisms). We have developed a lightweight Computer Aided Diagnostic System with an aim of easing the weary task of detection of Malaria infected cells by examination of blood smears under microscope and to enable the practical use of our model in remote and rural areas where high computation power and network may or may not be available.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/img.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal darken-3">
    <br><br><br>
  <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Developed by Zyik</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job to provide something back to the Community</p>


        </div>

        <div class="col l6 s12">
          <h5 class="white-text">Contact - Team Members</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/aayushk614/">Aayush Kumar - DL Model Development</a></li>
            <li><a class="white-text" href="https://in.linkedin.com/in/sanat-b-singh-b1161516b">Sanat B Singh - DL Model Development (with Backend + Hosting)</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/saumya-goyal/">Saumya Goyal - Front-end and Website Design</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with ❤ by Zyik</a>
      </div>
    </div>-->
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>
